openapi: 3.1.0
info:
  title: SwitchBot API
  version: '1.1'
servers:
  - url: https://api.switch-bot.com
paths:
  /v1.1/devices:
    get:
      summary: Get device list
      description: Get a list of devices, which include physical devices and virtual infrared remote devices that have been added to the current user's account.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/t'
        - $ref: '#/components/parameters/nonce'
      responses:
        '200':
          description: A list of devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  message:
                    type: string
                  body:
                    type: object
                    properties:
                      deviceList:
                        type: array
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/Curtain'
                            - $ref: '#/components/schemas/DeviceListEntry'
                            - $ref: '#/components/schemas/Lock'
                            - $ref: '#/components/schemas/Keypad'
                            - $ref: '#/components/schemas/BlindTilt'
                            - $ref: '#/components/schemas/RollerShade'
                          discriminator:
                            propertyName: deviceType
                            mapping:
                              Bot: '#/components/schemas/DeviceListEntry'
                              Curtain: '#/components/schemas/Curtain'
                              Curtain3: '#/components/schemas/Curtain'
                              Hub: '#/components/schemas/DeviceListEntry'
                              Hub Plus: '#/components/schemas/DeviceListEntry'
                              Hub Mini: '#/components/schemas/DeviceListEntry'
                              Hub 2: '#/components/schemas/DeviceListEntry'
                              Meter: '#/components/schemas/DeviceListEntry'
                              MeterPlus: '#/components/schemas/DeviceListEntry'
                              WoIOSensor: '#/components/schemas/DeviceListEntry'
                              MeterPro: '#/components/schemas/DeviceListEntry'
                              MeterPro(CO2): '#/components/schemas/DeviceListEntry'
                              Lock: '#/components/schemas/Lock'
                              Smart Lock Pro: '#/components/schemas/Lock'
                              Keypad: '#/components/schemas/Keypad'
                              Keypad Touch: '#/components/schemas/Keypad'
                              Remote: '#/components/schemas/DeviceListEntry'
                              Motion Sensor: '#/components/schemas/DeviceListEntry'
                              Compact Sensor: '#/components/schemas/DeviceListEntry'
                              Water Leak Detector: '#/components/schemas/DeviceListEntry'
                              Ceiling Light: '#/components/schemas/DeviceListEntry'
                              Celing Light Pro: '#/components/schemas/DeviceListEntry'
                              Plug Mini (US): '#/components/schemas/DeviceListEntry'
                              Plug Mini (JP): '#/components/schemas/DeviceListEntry'
                              Plug: '#/components/schemas/DeviceListEntry'
                              Strip Light: '#/components/schemas/DeviceListEntry'
                              Color Bulb: '#/components/schemas/DeviceListEntry'
                              Robot Vacuum Cleaner S1: '#/components/schemas/DeviceListEntry'
                              Robot Vacuum Cleaner S1 Plus: '#/components/schemas/DeviceListEntry'
                              K10+: '#/components/schemas/DeviceListEntry'
                              K10+ Pro: '#/components/schemas/DeviceListEntry'
                              Robot Vacuum Cleaner K10+ Pro Combo: '#/components/schemas/DeviceListEntry'
                              Robot Vacuum Cleaner S10: '#/components/schemas/DeviceListEntry'
                              Humidifier: '#/components/schemas/DeviceListEntry'
                              Humidifier2: '#/components/schemas/DeviceListEntry'
                              Air Purifier VOC: '#/components/schemas/DeviceListEntry'
                              Air Purifier Table VOC: '#/components/schemas/DeviceListEntry'
                              Air Purifier PM2.5: '#/components/schemas/DeviceListEntry'
                              Air Purifier Table PM2.5: '#/components/schemas/DeviceListEntry'
                              Indoor Cam: '#/components/schemas/DeviceListEntry'
                              Pan/Tilt Cam: '#/components/schemas/DeviceListEntry'
                              Blind Tilt: '#/components/schemas/BlindTilt'
                              Battery Circulator Fan: '#/components/schemas/DeviceListEntry'
                              Circulator Fan: '#/components/schemas/DeviceListEntry'
                              Roller Shade: '#/components/schemas/RollerShade'
                              Relay Switch 1PM: '#/components/schemas/DeviceListEntry'
                              Relay Switch 1: '#/components/schemas/DeviceListEntry'
                      infraredRemoteList:
                        type: array
                        items:
                          $ref: '#/components/schemas/InfraredRemote'
  /v1.1/devices/{deviceId}/status:
    get:
      summary: Get device status
      description: Get the status of a physical device that has been added to the current user's account.
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/t'
        - $ref: '#/components/parameters/nonce'
      responses:
        '200':
          description: The status of the device
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  message:
                    type: string
                  body:
                    oneOf:
                      - $ref: '#/components/schemas/BotStatus'
                      - $ref: '#/components/schemas/CurtainStatus'
                      - $ref: '#/components/schemas/MeterStatus'
                      - $ref: '#/components/schemas/CO2MeterStatus'
                      - $ref: '#/components/schemas/LockStatus'
                      - $ref: '#/components/schemas/MotionSensorStatus'
                      - $ref: '#/components/schemas/WaterLeakDetectorStatus'
                      - $ref: '#/components/schemas/CeilingLightStatus'
                      - $ref: '#/components/schemas/PlugMiniStatus'
                      - $ref: '#/components/schemas/RobotVacuumCleanerStatus'
                      - $ref: '#/components/schemas/HumidifierStatus'
                      - $ref: '#/components/schemas/CirculatorFanStatus'
                      - $ref: '#/components/schemas/BaseDevice'
                      - $ref: '#/components/schemas/ContactSensorStatus'
                      - $ref: '#/components/schemas/PlugStatus'
                      - $ref: '#/components/schemas/StripLightStatus'
                      - $ref: '#/components/schemas/ColorBulbStatus'
                      - $ref: '#/components/schemas/NamedRobotVacuumCleanerStatus'
                      - $ref: '#/components/schemas/K10ProComboStatus'
                      - $ref: '#/components/schemas/S10Status'
                      - $ref: '#/components/schemas/EvaporativeHumidifierStatus'
                      - $ref: '#/components/schemas/AirPurifierStatus'
                      - $ref: '#/components/schemas/BlindTiltStatus'
                      - $ref: '#/components/schemas/RollerShadeStatus'
                      - $ref: '#/components/schemas/Hub2Status'
                      - $ref: '#/components/schemas/BatteryCirculatorFanStatus'
                      - $ref: '#/components/schemas/1PmRelaySwitchStatus'
                      - $ref: '#/components/schemas/RelaySwitchStatus'
                    discriminator:
                      propertyName: deviceType
                      mapping:
                        Bot: '#/components/schemas/BotStatus'
                        Curtain: '#/components/schemas/CurtainStatus'
                        Curtain3: '#/components/schemas/CurtainStatus'
                        Meter: '#/components/schemas/MeterStatus'
                        MeterPlus: '#/components/schemas/MeterStatus'
                        WoIOSensor: '#/components/schemas/MeterStatus'
                        MeterPro: '#/components/schemas/MeterStatus'
                        MeterPro(CO2): '#/components/schemas/CO2MeterStatus'
                        Smart Lock: '#/components/schemas/LockStatus'
                        Smart Lock Pro: '#/components/schemas/LockStatus'
                        Keypad: '#/components/schemas/BaseDevice'
                        Motion Sensor: '#/components/schemas/MotionSensorStatus'
                        Contact Sensor: '#/components/schemas/ContactSensorStatus'
                        Water Detector: '#/components/schemas/WaterLeakDetectorStatus'
                        Ceiling Light: '#/components/schemas/CeilingLightStatus'
                        Ceiling Light Pro: '#/components/schemas/CeilingLightStatus'
                        Plug Mini (US): '#/components/schemas/PlugMiniStatus'
                        Plug Mini (JP): '#/components/schemas/PlugMiniStatus'
                        Plug: '#/components/schemas/PlugStatus'
                        Strip Light: '#/components/schemas/StripLightStatus'
                        Color Bulb: '#/components/schemas/ColorBulbStatus'
                        Robot Vacuum Cleaner S1: '#/components/schemas/RobotVacuumCleanerStatus'
                        Robot Vacuum Cleaner S1 Plus: '#/components/schemas/NamedRobotVacuumCleanerStatus'
                        K10+: '#/components/schemas/NamedRobotVacuumCleanerStatus'
                        K10+ Pro: '#/components/schemas/NamedRobotVacuumCleanerStatus'
                        Robot Vacuum Cleaner K10+ Pro Combo: '#/components/schemas/K10ProComboStatus'
                        Robot Vacuum Cleaner S10: '#/components/schemas/S10Status'
                        Humidifier: '#/components/schemas/HumidifierStatus'
                        Humidifier2: '#/components/schemas/EvaporativeHumidifierStatus'
                        Air Purifier VOC: '#/components/schemas/AirPurifierStatus'
                        Air Purifier Table VOC: '#/components/schemas/AirPurifierStatus'
                        Air Purifier PM2.5: '#/components/schemas/AirPurifierStatus'
                        Air Purifier Table PM2.5: '#/components/schemas/AirPurifierStatus'
                        Blind Tilt: '#/components/schemas/BlindTiltStatus'
                        Roller Shade: '#/components/schemas/RollerShadeStatus'
                        Hub 2: '#/components/schemas/Hub2Status'
                        Circulator Fan: '#/components/schemas/CirculatorFanStatus'
                        Battery Circulator Fan: '#/components/schemas/BatteryCirculatorFanStatus'
                        Relay Switch 1PM: '#/components/schemas/1PmRelaySwitchStatus'
                        Relay Switch 1: '#/components/schemas/RelaySwitchStatus'
  /v1.1/devices/{deviceId}/commands:
    post:
      summary: Send device control commands
      description: Send control commands to physical devices and virtual infrared remote devices.
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/sign'
        - $ref: '#/components/parameters/t'
        - $ref: '#/components/parameters/nonce'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                commandType:
                  type: string
                command:
                  type: string
                parameter:
                  type: string
      responses:
        '200':
          description: Command sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  message:
                    type: string
components:
  parameters:
    authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        pattern: '^[a-f0-9]+$'
    sign:
      name: sign
      in: header
      required: true
      schema:
        type: string
    t:  
      name: t
      in: header
      required: true
      schema:
        type: integer
        format: int64
    nonce:
      name: nonce
      in: header
      required: true
      schema:
        type: string
  schemas:

    # Mixins
    BaseDevice:
      type: object
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
        hubDeviceId:
          type: string
          description: device's parent Hub ID

    GroupObject:
      type: object
      properties:
        group:
          type: boolean
          description: Determines if the device is grouped with another device.

    MasterGroupObject:
      type: object
      allOf:
        - $ref: '#/components/schemas/GroupObject'
      properties:
        master:
          type: boolean
          description: Determines if the device is the master device when grouped with another device.

    NamedMasterGroupObject:
      type: object
      allOf:
        - $ref: '#/components/schemas/MasterGroupObject'
      properties:
        groupName:
          type: string
          description: the name of the group

    MovingSlideObject:
      type: object
      properties:
        slidePosition:
          type: integer
          description: The percentage of distance traversed between open and closed positions.
          minimum: 0
          maximum: 100
        moving:
          type: boolean
          description: True if the device is moving.

    NamedObject:
      type: object
      properties:
        deviceName:
          type: string
          description: The name of the device.

    BatteryObject:
      type: object
      properties:
        battery:
          type: integer
          description: The current battery level of the device, ranging from 0 to 100.
          minimum: 0
          maximum: 100

    VersionObject:
      type: object
      properties:
        version:
          type: string
          description: The current firmware version

    PowerObject:
      type: object
      properties:
        power:
          type: string
          description: The ON/OFF state of the device.
          enum: [ON, OFF]

    CalibratedObject:
      type: object
      properties:
        calibrate:
          type: boolean
          description: Determines if the device has been calibrated.

    BrightnessObject:
      type: object
      properties:
        brightness:
          type: integer
          description: The brightness value of the device.
          minimum: 1
          maximum: 100

    RgbColorObject:
      type: object
      properties:
        color:
          type: string
          description: The color value of the device.
          pattern: ^\d{3}:\d{3}:\d{3}$

    ChildLockObject:
      type: object
      properties:
        childLock:
          type: boolean
          description: Determines if the safety lock is on.

    ColorTemperatureObject:
      type: object
      properties:
        colorTemperature:
          type: integer
          description: The color temperature value of the device.
          minimum: 2700
          maximum: 6500

    HumidityObject:
      type: object
      properties:
        humidity:
          type: integer
          description: Humidity percentage.
          minimum: 0
          maximum: 100

    TemperatureObject:
      type: object
      properties:
        temperature:
          type: number
          format: float
          description: Temperature in Celsius.

    # Entities returned by /devices
    DeviceListEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/NamedObject'
      properties:
        enableCloudService:
          type: boolean
          description: determines if Cloud Service is enabled or not for the current device

    InfraredRemote:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
      properties:
        remoteType:
          type: string

    Curtain:
      type: object
      allOf:
        - $ref: '#/components/schemas/DeviceListEntry'
        - $ref: '#/components/schemas/CalibratedObject'
        - $ref: '#/components/schemas/MasterGroupObject'
      properties:
        curtainDeviceIds:
          type: array
          items:
            type: string
          description: a list of Curtain device IDs such that the Curtain devices are being paired or grouped
        openDirection:
          type: string
          description: the opening direction of a Curtain

    Lock:
      type: object
      allOf:
        - $ref: '#/components/schemas/DeviceListEntry'
        - $ref: '#/components/schemas/NamedMasterGroupObject'
      properties:
        lockDevicesIds:
          type: array
          items:
            type: string
          description: a list of Lock device IDs such that the Lock devices are being grouped in Dual Lock mode

    Keypad:
      type: object
      allOf:
        - $ref: '#/components/schemas/DeviceListEntry'
      properties:
        lockDevicesId:
          type: string
          description: MAC address of the Lock that the current device is paired with
        keyList:
          $ref: '#/components/schemas/KeyList'

    KeyList:
      type: object
      description: a list of passcodes
      properties:
        id:
          type: string
          description: passcode ID
        name:
          type: string
          description: name of the passcode
        type:
          type: string
          description: |
            type of the passcode 
            * permanent: a permanent passcode
            * timeLimit: a temporary passcode
            * disposable: a one-time passcode
            * urgent: an emergency passcode.
          enum: [permanent, timeLimit, disposable, urgent]
        password:
          type: string
          description: the passcode string encrypted with the developer secret key using the aes-128-cbc algorithm
        iv:
          type: string
          description: an arbitrary number used for the encryption
        status:
          type: string
          description: |
            validity of the passcode.
            * normal: the passcode is valid
            * expired: the passcode is invalid.
          enum: [normal, expired]
        createTime:
          type: integer
          description: the time when the passcode is generated

    BlindTilt:
      type: object
      allOf:
        - $ref: '#/components/schemas/DeviceListEntry'
        - $ref: '#/components/schemas/CalibratedObject'
        - $ref: '#/components/schemas/MasterGroupObject'
      properties:
        blindTiltDevicesIds:
          type: array
          items:
            type: string
          description: a list of Blind Tilt device IDs such that the Blind Tilt devices are being paired or grouped
        direction:
          type: string
          description: the opening direction of a Blind Tilt device
        slidePosition:
          type: number
          description: the current position
          minimum: 0
          maximum: 100

    RollerShade:
      type: object
      allOf:
        - $ref: '#/components/schemas/DeviceListEntry'
        - $ref: '#/components/schemas/NamedMasterGroupObject'
      properties:
        bleVersion:
          type: string
          description: firmware version
        groupingDevicesIds:
          type: array
          items:
            type: string
          description: a list of device IDs such that the Roller Shade devices are being paired or grouped
    
    # Entities returned by /devices/{deviceId}/status
    BotStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - type: object
          properties:
            deviceMode:
              type: string
              enum: [pressMode, switchMode, customizeMode]

    CurtainStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/CalibratedObject'
        - $ref: '#/components/schemas/GroupObject'
        - $ref: '#/components/schemas/MovingSlideObject'

    MeterStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - type: object
          properties:
            temperature:
              type: number
              format: float
              description: Temperature in Celsius.
            humidity:
              type: integer
              description: Humidity percentage.

    CO2MeterStatus:
      allOf:
        - $ref: '#/components/schemas/MeterStatus'
        - type: object
          properties:
            CO2:
              type: integer
              description: CO2 concentration in ppm.
              minimum: 0
              maximum: 9999

    LockStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/CalibratedObject'
        - type: object
          properties:
            lockState:
              type: string
              description: Determines if locked or not.
            doorState:
              type: string
              description: Determines if the door is closed or not.

    MotionSensorStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/VersionObject'
        - type: object
          properties:
            moveDetected:
              type: boolean
              description: Determines if motion is detected.
            brightness:
              type: string
              description: Ambient brightness detected
              enum: [bright, dim]
    
    ContactSensorStatus:
      allOf:
        - $ref: '#/components/schemas/MotionSensorStatus'
        - type: object
          properties:
            openState:
              type: string
              description: the open state of the sensor.
              enum: [open, close, timeOutNotClose]

    WaterLeakDetectorStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/VersionObject'
        - type: object
          properties:
            status:
              type: integer
              description: |
                * 0: dry
                * 1: leak detected.
              enum: [0, 1]

    CeilingLightStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/BrightnessObject'
        - $ref: '#/components/schemas/ColorTemperatureObject'

    PlugMiniStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - type: object
          properties:
            voltage:
              type: number
              format: float
              description: Voltage of the device (Volts).
            weight:
              type: number
              format: float
              description: Power consumed in a day (Watts).
            electricityOfDay:
              type: integer
              description: Duration used during a day (minutes).
            electricCurrent:
              type: number
              format: float
              description: Current of the device (Amps).

    PlugStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
    
    StripLightStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/BrightnessObject'
        - $ref: '#/components/schemas/RgbColorObject'

    ColorBulbStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/BrightnessObject'
        - $ref: '#/components/schemas/RgbColorObject'
        - $ref: '#/components/schemas/ColorTemperatureObject'

    RobotVacuumCleanerStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/BatteryObject'
        - type: object
          properties:
            workingStatus:
              type: string
              description: Working status
              enum: [StandBy, Cleaning, Paused, GotoChargeBase, Charging, ChargeDone, Dormant, InTrouble, InRemoteControl, InDustCollecting]
            onlineStatus:
              type: string
              description: Connection status
              enum: [online, offline]

    NamedRobotVacuumCleanerStatus:
      allOf:
        - $ref: '#/components/schemas/RobotVacuumCleanerStatus'
        - type: object
          properties:
            deviceName:
              type: string
              description: The name of the device.

    K10ProComboStatus:
      allOf:
        - $ref: '#/components/schemas/NamedRobotVacuumCleanerStatus'
        - type: object
          properties:
            taskType:
              type: string
              description: Task type
              enum:
                - standBy
                - explore
                - cleanAll
                - cleanArea
                - cleanRoom
                - backToCharge
                - collectDust
                - remoteControl
                - cleanWithExplorer

    S10Status:
      allOf:
        - $ref: '#/components/schemas/NamedRobotVacuumCleanerStatus'
        - type: object
          properties:
            taskType:
              type: string
              description: Task type
              enum:
                - standBy
                - explore
                - cleanAll
                - cleanArea
                - cleanRoom
                - fillWater
                - deepWashing
                - backToCharge
                - markingWaterBase
                - drying
                - collectDust
                - remoteControl
                - cleanWithExplorer
                - fillWaterForHumi
                - markingHumi

    HumidifierStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/HumidityObject'
        - $ref: '#/components/schemas/TemperatureObject'
        - $ref: '#/components/schemas/ChildLockObject'
        - type: object
          properties:
            nebulizationEfficiency:
              type: integer
              description: Atomization efficiency percentage.
            auto:
              type: boolean
              description: Determines if the humidifier is in Auto Mode.
            sound:
              type: boolean
              description: Determines if muted.
            lackWater:
              type: boolean
              description: Determines if the water tank is empty.

    EvaporativeHumidifierStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/HumidityObject'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/ChildLockObject'
        - type: object
          properties:
            mode:
              type: integer
              description: | 
                Humidifier mode.
                * 1: Level 4
                * 2: Level 3
                * 3: Level 2
                * 4: Level 1
                * 5: Humidity mode
                * 6: Sleep mode
                * 7: Auto mode
                * 8: Drying mode
              minimum: 1
              maximum: 8
            drying: 
              type: boolean
              description: Determines if the drying mode is on.
            childLock:
              type: boolean
              description: Determines if the safety lock is on.
            filterElement:
              $ref: '#/components/schemas/FilterElement'
            
    FilterElement:
      type: object
      properties:
        effectiveUsageHours:
          type: integer
          description: Effective duration of the filter in hours.
        usedHours:
          type: integer
          description: Number of hours the filter has been used.

    AirPurifierStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/PowerObject'
        - $ref: '#/components/schemas/VersionObject'
        - type: object
          properties:
            childLock:
              type: integer
              description: |
                Determines if the safety lock is on.
                * 0: off
                * 1: on
              enum: [0, 1]
            de:
              type: integer
              description: | 
                Air purifier mode.
                * 1: Normal or fan
                * 2: Auto
                * 3: Sleep
                * 4: Pet
              minimum: 1
              maximum: 4
    
    BlindTiltStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/CalibratedObject'
        - $ref: '#/components/schemas/GroupObject'
        - $ref: '#/components/schemas/MovingSlideObject'
        - type: object
          properties:
            direction:
              type: string
              description: opening direction
    
    RollerShadeStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/BatteryObject'
        - $ref: '#/components/schemas/MovingSlideObject'
        - $ref: '#/components/schemas/CalibratedObject'

    Hub2Status:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/TemperatureObject'
        - $ref: '#/components/schemas/HumidityObject'
        - $ref: '#/components/schemas/VersionObject'
        - type: object
          properties:
            lightLevel:
              type: integer
              description: Ambient light level.
              minimum: 1
              maximum: 20

    CirculatorFanStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - type: object
          properties:
            mode:
              type: string
              description: |
                Fan mode
                * direct: Direct
                * natural: Natural
                * sleep: Sleep
                * baby: Ultra quiet
              enum: [direct, natural, sleep, baby]
            nightStatus:
              type: integer
              description: Nightlight status
            oscillation:
              type: string
              description: Horizontal oscillation
              enum: [on, off]
            verticalOscillation:
              type: string
              description: Vertical oscillation
              enum: [on, off]
            chargingStatus:
              type: string
              description: Charging status
              enum: [charging, uncharged]
            fanSpeed:
              type: integer
              minimum: 1
              maximum: 100
              description: Fan speed

    BatteryCirculatorFanStatus:
      allOf:
        - $ref: '#/components/schemas/CirculatorFanStatus'
        - $ref: '#/components/schemas/BatteryObject'
    
    1PmRelaySwitchStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - type: object
          properties:
            switchStatus:
              type: integer
              description: | 
                Switch status
                * 0: off
                * 1: on
              enum: [0, 1]
            voltage:
              type: integer
              description: Current voltage (Volts)
            usedElectricity:
              type: integer
              description: Daily power consumption (Watts-minutes)
            electricCurrent:
              type: integer
              description: Current (mA)

    RelaySwitchStatus:
      allOf:
        - $ref: '#/components/schemas/BaseDevice'
        - $ref: '#/components/schemas/VersionObject'
        - $ref: '#/components/schemas/PowerObject'
        - type: object
          properties:
            switchStatus:
              type: integer
              description: | 
                Switch status
                * 0: off
                * 1: on
              enum: [0, 1]

    # Entities for the /commands endpoint

    CommandRequest:
      type: object
      properties:
        commandType:
          type: string
        command:
          type: string
        parameter:
          type: string
          enum: [default]

    BotCommandRequest:
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - type: object
          properties:
            commandType:
              type: string
              enum: [press, turnOn, turnOff]

    CurtainCommandRequest:
      description: Applies to Curtain and Curtain3 devices
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Closes the curtain
            properties:
              commandType:
                type: string
                enum: turnOff
          - type: object
            description: Opens the curtain
            properties:
              commandType:
                type: string
                enum: turnOn
          - type: object
            description: Pauses the curtain movement
            properties:
              commandType:
                type: string
                enum: pause
          - type: object
            description: Precisely sets the curtain position
            properties:
              commandType:
                type: string
                enum: [setPosition]
              parameter:
                type: string
                pattern: '(\d+),(0|1|ff),\d{1,3}'
                description: |
                  Three comma-separated values:
                  * Index. Unsure what this means. Leave it as 0.
                  * Mode:
                    * 0: performance
                    * 1: silent
                    * ff: default
                  * Position in the range of 0-100, where 0 is open and 100 is closed.

    LockCommandRequest:
      description: Applies to Lock and Lock Pro devices
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Locks the device
            properties:
              commandType:
                type: string
                enum: [lock]
          - type: object
            description: Unlocks the device
            properties:
              commandType:
                type: string
                enum: [unlock]

    HumidifierCommandRequest:
      description: Applies to Humidifier devices but not Evaporative Humidifiers
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Turns on the humidifier
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the humidifier
            properties:
              commandType:
                type: string
                enum: [turnOff]
          - type: object
            description: Sets the mode of the humidifier
            properties:
              commandType:
                type: string
                enum: [setMode]
              parameter:
                type: string
                pattern: 'auto|(\d+)'
                description: |
                  Mode of the humidifier:
                  * auto: Automatic mode
                  * 0-100: Set atomization efficiency to the specified percentage.
                  * 101: set atomization efficiency to 34%
                  * 102: set atomization efficiency to 67%
                  * 103: set atomization efficiency to 100%

    EvaporativeHumidifierCommandRequest:
      description: Applies to Evaporative Humidifier devices aka Humidifier2
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Enables or disables the child lock of the humidifier
            properties:
              commandType:
                type: string
                enum: [setChildLock]
              parameter:
                type: boolean
          - type: object
            description: Turns on the humidifier
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the humidifier
            properties:
              commandType:
                type: string
                enum: [turnOff]
          - type: object
            description: Sets the mode of the humidifier
            properties:
              commandType:
                type: string
                enum: [setMode]
              parameter:
                type: object
                properties:
                  mode:
                    type: integer
                    enum: [1, 2, 3, 4, 5, 6, 7, 8]
                    description: |
                      Humidifier mode.
                      * 1: Level 4
                      * 2: Level 3
                      * 3: Level 2
                      * 4: Level 1
                      * 5: Humidity mode
                      * 6: Sleep mode
                      * 7: Auto mode
                      * 8: Drying mode
                  targetHumidity:
                    type: integer
                    minimum: 0
                    maximum: 100

    AirPurifierCommandRequest:
      description: |
        Applies to:
        * Air Purifier VOC 
        * Air Purifier Table VOC
        * Air Purifier PM2.5
        * Air Purifier Table PM2.5
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Enables or disables the child lock of the air purifier
            properties:
              commandType:
                type: string
                enum: [setChildLock]
              parameter:
                type: integer
                enum: [0, 1]
                description: |
                  * 0: disable child lock
                  * 1: enable child lock
          - type: object
            description: Turns on the air purifier
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the air purifier
            properties:
              commandType:
                type: string
                enum: [turnOff]
          - type: object
            description: Sets the mode of the air purifier
            properties:
              commandType:
                type: string
                enum: [setMode]
              parameter:
                type: object
                properties:
                  mode:
                    type: integer
                    enum: [1, 2, 3, 4]
                    description: |
                      Air purifier mode.
                      * 1: Normal or fan
                      * 2: Auto
                      * 3: Sleep
                      * 4: Pet
                  fanGear:
                    type: integer
                    minimum: 1
                    maximum: 3
                    description: Fan speed. Can only be set when mode is 1.

    PlugCommandRequest:
      description: Applies to Plug devices but not Plug Mini devices
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Turns on the plug
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the plug
            properties:
              commandType:
                type: string
                enum: [turnOff]

    PlugMiniCommandRequest:
      description: Applies to Plug Mini devices, both US and JP versions
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Turns on the plug mini
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the plug mini
            properties:
              commandType:
                type: string
                enum: [turnOff]
          - type: object
            description: Toggles the on/off state of the plug mini
            properties:
              commandType:
                type: string
                enum: [toggle]

    RelaySwitchCommandRequest:
      description: Applies to Relay Switch 1 and 1PM devices
      allOf:
        - $ref: '#/components/schemas/CommandRequest'
        - oneOf:
          - type: object
            description: Turns on the relay switch
            properties:
              commandType:
                type: string
                enum: [turnOn]
          - type: object
            description: Turns off the relay switch
            properties:
              commandType:
                type: string
                enum: [turnOff]
          - type: object
            description: Toggles the relay switch
            properties:
              commandType:
                type: string
                enum: [toggle]
          - type: object
            description: Sets the mode of the relay switch
            properties:
              commandType:
                type: string
                enum: [setMode]
              parameter:
                type: integer
                enum: [0, 1, 2, 3]
                description: |
                  * 0: toggle mode
                  * 1: edge switch mode
                  * 2: detached switch mode
                  * 3: momentary switch mode


